<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
   <div th:fragment="LoginFooter">
   <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                                      加入我们
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                                       关于我们
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                                        博客
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                                        网站验证
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by Invision. Coded by Creative Tim. <a href="http://www.cssmoban.com/" target="_blank" title="联盟之家">交易治理平台</a> - Collect from <a href="http://www.cssmoban.com/" title="联盟" target="_blank">联盟之家</a>
                </div>
            </div>
    </footer>
    </div>
</body>
</html>