<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
      <div th:fragment="about">
     	<div class="about">
		<div class="container">
			
			<h2 class="w3l-titles">了解我们</h2>
			<div class="w3l-about-grids">
				<div class="col-md-6 w3ls-about-left">
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-smile-o" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>100% 订单处理效率</h5>
							<p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-usd" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>安全的加密算法</h5>
							<p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits-icon-grid">
						<div class="icon-left hvr-radial-out">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
						<div class="icon-right">
							<h5>分布广阔的节点网络</h5>
							<p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 w3ls-about-right">
					<div class="w3ls-about-right-img">
						
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>