<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="clients">
    <div class="clients">
	<div class="banner-dott1">
	<h3 class="w3l-titles">Testimonials</h3>
		<div class="container">
			<h4>What Our Customers Say</h4>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							  <!--  <img th:src="@{/static/img/images/c1.jpg}" alt="" />-->
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
								<div class="client">
									<h5>Gerald Roy</h5>
								</div>
						</li>
						<li>
							<!--  <img th:src="@{/static/img/images/c2.jpg}" alt="" />-->
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
								<div class="client">
									<h5>Adam Brandom</h5>
								</div>
						</li>
						<li>
							<!-- <img th:src="@{/static/img/images/c3.jpg}" alt="" />-->
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
								<div class="client">
									<h5>Steve Artur</h5>
								</div>
						</li>
						<li>
							<!--<img th:src="@{/static/img/images/c4.jpg}" alt="" />-->
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
								<div class="client">
									<h5>Martin Victor</h5>
								</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
</div>
</body>
</html>