<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
   <div th:fragment="contract">
     <div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Call Us Now</h3>
					<ul>
						<li><span>Office Phone :</span> (+123) 2302 232</li>
						<li><span>Fax :</span> (+123) 123 456 455</li>
					</ul>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>Address</h3>
					<p>132 New Lenox, 868 1st Avenue <i>4th United States.</i></p>
				</div>
				<div class="col-md-4 agileits_w3layouts_footer_grid">
					<h3>send a message</h3>
					<ul>
						<li><span>Email :</span> <a href="mailto:info@example.com">info@example1.com</a></li>
						<li><span>Enquiry :</span> <a href="mailto:info@enquiry.com">info@enquiry.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_agileits_footer_grids">
				<div class="col-md-4 w3_agileits_footer_grid">
					<p>Nulla ex dolor, elementum sit amet placerat at, pretium in tortor. 
						Vestibulum lacinia arcu quis lacus sollicitudin condimentum. 
						Ut ac aliquet ex.</p>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Hours Work</h3>
					<h4>Offices are opened</h4>
					<ul>
						<li><span>Mon - Fri : </span> 9:00 AM to 5:00PM</li>
						<li><span>Sat : </span> 10:00 AM to 3:00PM</li>
					</ul>
				</div>
				<div class="col-md-4 w3_agileits_footer_grid">
					<h3>Subscribe Now</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email" required="">
						<input type="submit" value="Submit ">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right copyright">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			       <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by Invision. Coded by Creative Tim. <a href="http://www.cssmoban.com/" target="_blank" title="联盟之家">交易治理平台</a> - Collect from <a href="http://www.cssmoban.com/" title="联盟" target="_blank">联盟之家</a>
                   </div>
		</div>
	</div>
	</div>
</body>
</html>