
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <div th:fragment="header">
       <head>
			<title>Index</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta  content="charset=utf-8" />
			<meta name="keywords" content="" />
			<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
					function hideURLbar(){ window.scrollTo(0,1); } </script>	
					
			<!-- For Testimonials slider -->
			
			<!-- //For Testimonials slider -->
			<!-- //custom-theme files-->
			
			
			<!-- //custom-theme files-->
			
			<!-- font-awesome-icons -->
			
			<!-- //font-awesome-icons -->
			<!-- googlefonts -->
			  
			<!-- //googlefonts -->
			
			
     </head>
    </div>
</body>
</html>