<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <div th:fragment="header">
            <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}">
		    <!-- https://fonts.google.com/specimen/Roboto -->
		    <link rel="stylesheet" th:href="@{/css/superIndex/fontawesome.min.css}">
		    <!-- https://fontawesome.com/ -->
		    <link rel="stylesheet" th:href="@{/css/superIndex/bootstrap.min.css}">
		    <!-- https://getbootstrap.com/ -->
		    <link rel="stylesheet" th:href="@{/css/superIndex/templatemo-style.css}">
		    
		    <script th:src="@{/js/superIndex/jquery-3.3.1.min.js}"></script>
		    <!-- https://jquery.com/download/ -->
		    <script th:src="@{/js/superIndex/moment.min.js}"></script>
		    <!-- https://momentjs.com/ -->
		    <script th:src="@{/js/superIndex/Chart.min.js}"></script>
		    <!-- http://www.chartjs.org/docs/latest/ -->
		    <script th:src="@{/js/superIndex/bootstrap.min.js}"></script>
		    <!-- https://getbootstrap.com/ -->
		    <script th:src="@{/js/superIndex/tooplate-scripts.js}"></script>
		    <script th:src="@{/js/bootstrap-paginator.js}"></script>
    </div>
</body>
</html>