<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="footer">
     <!--Core JavaScript file  -->
    <script th:src="@{/js/error/jquery-1.10.2.js}"></script>
    <!--bootstrap JavaScript file  -->
    <script th:src="@{/js/error/bootstrap.js}"></script>
     <!--Count Number JavaScript file  -->
    <script th:src="@{/js/error/countUp.js}"></script>
       <!--Custom JavaScript file  -->
    <script th:src="@{/js/error/custom.js}"></script>
</div>
</body>
</html>