<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <div th:fragment="footerLoginBase">
	    <!--   Core JS Files   -->
		<script th:src="@{/js/core/jquery.3.2.1.min.js}" type="text/html"></script>
		<script th:src="@{/js/core/popper.min.js}" type="text/html"></script>
		<script th:src="@{/js/core/bootstrap.min.js}" type="text/html"></script>
		<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
		<script th:src="@{/js/plugins/bootstrap-switch.js}" type="text/html"></script>
		<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
		<script th:src="@{/js/plugins/nouislider.min.js}" type="text/html"></script>
		<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
		<script th:src="@{/js/plugins/bootstrap-datepicker.js}" type="text/html"></script>
		<!-- Share Library etc -->
		<script th:src="@{/js/plugins/jquery.sharrre.js}" type="text/html"></script>
		<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
		<script th:src="@{/js/now-ui-kit.js?v=1.1.0}" type="text/html"></script>
    </div>
</body>
</html>