<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
    <div th:replace="Register/header::header"></div>
    <title>节点注册</title>
    <script>
		  
    </script>
</head>
<body>
  <h1>节点  注册</h1>

	<div class="container w3layouts agileits">

		
		<div class="register w3layouts agileits">
			<h2>注 册</h2>
			<form  class="form-horizontal" th:action="@{/node/registry}" method="post">
				<input type="text" id="nodeName" name="nodeName" placeholder="真实姓名" required="">
				
				
				<input type="text"id="nodeEmail" name="nodeEmail" placeholder="注册邮箱" required="">
				<div  role="alert"  th:if="${errorEmail} " th:text="${nodeEmail}" style="color:red" ></div>
			
				<input type="password" id="nodePassword" name="nodePassword" placeholder="注册密码" required="">
				<input type="password" id="nodePasswordVaild" name="nodePasswordVaild" placeholder="重新填写注册密码" required="">
				<div  role="alert"  th:if="${errorPassword} " th:text="${nodePassword}" style="color:red" ></div>
				
				<input type="text" id="nodeTelphone" name="nodeTelphone" placeholder="手机号码" required="" >
				<div  role="alert"  th:if="${errorTel} " th:text="${nodeTelphone}" style="color:red" ></div>
				<input type="text" name="nodeSex" placeholder="用户性别" required="">
				
				<div class="send-button w3layouts agileits">
					<input type="submit" value="免费注册">
			    </div>
			</form> 
			
			
			
			<div class="social-icons w3layouts agileits">
				<p>- 其他方式注册 -</p>
				<ul>
					<li class="qq"><a href="#">
					<span class="icons w3layouts agileits"></span>
					<span class="text w3layouts agileits">QQ</span></a></li>
					<li class="weixin w3ls"><a href="#">
					<span class="icons w3layouts"></span>
					<span class="text w3layouts agileits">微信</span></a></li>
					<li class="weibo aits"><a href="#">
					<span class="icons agileits"></span>
					<span class="text w3layouts agileits">微博</span></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
	
			
			<div class="clear"></div>
		</div>

		<div class="clear"></div>

	</div>

	<div th:replace="Register/footer::footer"></div>
</body>
</html>